#user{
    height: 40vh;
    padding: 0 60px;
    display: flex;
    align-items: center;
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    justify-content: flex-start;
    gap: 15px;
}